
* {
  box-sizing: border-box;
}

h1, h4, p {
  margin: 0px;
}

body {
  background-color: white;
}

.contenedor {
  color: gray;
  font-family: "Lobster", cursive;
  margin: 20px auto;
  width: 90%;
}

.principal {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em;
  justify-content: space-between;
}

header {
  border-bottom: 1px solid #666666;
  margin-bottom: 1em;
  padding-bottom: 15px;
  text-align: center;
  width: 100%;
}

header img{
  width: 10%;
}

nav {
  width: 8%;
}

nav div {
  margin-bottom: 20px;
}

main {
  border: 1px solid #aaaaaa;
  border-radius: 1em;
  height: 400px;
  padding: 1em;
  text-align: center;
  width: 54%;
}

main img {
  border-radius: 2em;
  height: 71%;
  width: 82%;
}

.principal article:nth-of-type(1) {
  height: 400px;
}

article {
  border: 1px solid #aaaaaa;
  border-radius: 2em;
  height: 300px;
  padding: 1em;
  text-align: center;
  width: 32%;
}

.columns {
  display: flex;
  justify-content: space-between;
  margin-left: 6%;
}

article img {
  border-radius: 2em;
  width: 100%;
  
}

footer {
  align-items: center;
  border-top: 1px solid #666666;
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  padding: 2em;
}

footer img {
  width: 15%;
}