h1 {
    text-align: center;
}
.contenedor nav, .lateral{
    background-color: black;
    color: white;
    padding: 20% auto;
}

.contenedor nav div{
    display: inline-block;
    padding: 10px;
    width: 19%;
}

aside{
    background-color: black;
    color: white;
    float: left;
    height: 500px;
    margin-top: 30px;
    width: 15%;
}

aside div{
    padding: 10px;
}
.columnas{
    height: 80%;
}
div.columnas {
    column-count: 3;
    width: 80%;
    float: right;
    padding: 10px;
    margin-top: 30px;
    text-align: center;
    column-gap: 0%;
}

.info{
    border: 2px solid black;
    border-radius: 10px;
    height: 50%;
    text-align: center;
}

.info p{
    margin-left: 5%;
    margin-right: 5%;
}

h2{
    text-align: left;
    font-size: medium;
    margin-top: 10%;
}

img{
    width: 30%;
    margin-top: 5%;
}

footer{
    background-color: lightgrey;
    clear: both;
    padding: 10px;
    text-align: center;
}