* {
    box-sizing: border-box;
  }
  
  .container {
    display: grid;
    margin: 0px auto;
    max-width: 1200px;
    grid-template-columns: 33.333% 33.333% 33.333%;
    grid-template-rows: 100px 100px 100px 100px;
  }
  
  .red {
    background-color: red;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }
  
  .blue {
    background-color: blue;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }
  
  .yellow {
    background-color: yellow;
    grid-column: 1 / 4;
    grid-row: 3 / 4;
  }
  
  .green {
    background-color: green;
    grid-column: 1 / 4;
    grid-row: 4 / 5;
  }

  /* para pantalas con una anchura igual a 575 y menor, las clases se dispondra
  una encima de otra con una anchura identica. */
  
  /* para pantalas con una anchura entre 576-991px se tendra encuanta: */
  @media screen and (min-width: 576px) {
    .red {
      grid-column: 1 / 4;
      grid-row: 1 / 4;
    }/*la clase roja ocupara una columna de las 4 establecidad una fila
    de las cuatro establecidas*/
  
    .blue {
      grid-column: 2 / 4;
      grid-row: 1 / 1;
    }/*la clase azul ocupara dos columna de las 4 establecidad una fila*/
  
    .yellow {
      grid-column: 2 / 4;
      grid-row: 2 / 3;
    }/*la clase amarillo ocupara dos columna de las 4 establecidad dos fila
    de las tres establecidas*/
  
    .green {
      grid-column: 1 / 4;
      grid-row: 3 / 5;
    } /*la clase roja ocupara una columna de las 4 establecidad tres fila
    de las 5 establecidas*/
  }
  
  /* para las pantallas de 992< px se dispondra de la siguiente manera*/
  @media screen and (min-width: 992px) {
    .red {
      grid-column: 3 / 4;
      grid-row: 1 / 5;
    }/*supone el la ultima columan entera de arriba a abajp*/
  
    .blue {
      grid-column: 2 / 3;
      grid-row: 1 / 3;
    } /*ocupa la mitad de la columana del medio*/
  
    .yellow {
      grid-column: 2 / 3;
      grid-row: 3 / 5;
    } /*ocupa la mitad de la columana del medio*/
  
    .green {
      grid-column: 1 / 2;
      grid-row: 1 / 5;
    }/*supone el la ultima columan entera de arriba a abajp*/
  }